*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    font-weight: bolder;
}

.container {
    background-color: #161C27;
    display: grid;
    grid-template-columns: 75px repeat(3, 1fr) 75px;
    grid-template-rows: 300px 1fr 1fr 1fr 1fr 1fr 300px;
    grid-gap: 25px;
    grid-template-areas:
    "lg header header header rg"
    "lg elem2 elem3 elem3 rg"
    "lg elem4 elem5 elem6 rg"
    "lg elem7 elem7 elem7 rg"
    "lg elem8 elem9 elem10 rg"
    "lg elem8 elem11 elem11 rg"
    "lg footer footer footer rg"
    ;
    
}

.header {
    /* background-color: antiquewhite; */
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 50px white;
}

.element{
    height: 550px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 50%;
}

.container__elem2 {
    /* background-color: brown; */
    grid-area: elem2;
    background-image: url(https://img1.goodfon.ru/wallpaper/nbig/5/9d/lamborghini-sesto-elemento-5572.jpg);
}

.container__elem3 {
    /* background-color: tomato; */
    grid-area: elem3;
    background-image: url(https://img2.goodfon.ru/wallpaper/nbig/b/a3/devushka-volk-kosichki-indianka.jpg);
}
.container__elem4 {
    /* background-color: thistle; */
    grid-area: elem4;
    background-image: url(https://img5.goodfon.ru/original/1920x1080/4/13/mummy-teeth-funny-simple-background-artwork-digital-art-mini.jpg);
}
.container__elem5 {
    /* background-color: slategrey; */
    grid-area: elem5;
    background-image: url(https://img5.goodfon.ru/original/1920x1200/e/1e/minimalizm-karandashy-fon.jpg);
}
.container__elem6 {
    /* background-color: slateblue; */
    grid-area: elem6;
    background-image: url(https://img5.goodfon.ru/original/2200x1467/d/93/karty-retro-minimalizm.jpg);
}
.container__elem7 {
    /* background-color: cornflowerblue; */
    grid-area: elem7;
    background-image: url(https://img4.goodfon.ru/original/3840x2160/4/b1/salatovo-izumrudnyi-salatovyi-izumrudnyi-tsvet-morskoi-volny.jpg);
}

.container__elem8 {
    /* background-color: darkcyan; */
    grid-area: elem8;
    height: 100%;
    background-image: url(https://img2.goodfon.ru/original/2560x1440/4/c3/kub-kubik-chernoe-rozovoe.jpg);
}

.container__elem9 {
    /* background-color: indigo; */
    grid-area: elem9;
    background-image: url(https://img1.goodfon.ru/original/1600x1200/4/c0/ukazatel-minimalizm-vektor.jpg);
}

.container__elem10 {
    /* background-color: olive; */
    grid-area: elem10;
    background-image: url(https://img2.goodfon.ru/original/1920x1200/e/6c/spongebob-spanch-bob-bape.jpg);
}

.container__elem11 {
    /* background-color: navy; */
    grid-area: elem11;
    background-image: url(https://img5.goodfon.ru/original/1920x1080/0/b4/ghost-fear-scary-simple-background-blue-background-artwork-d.jpg);
}

.footer {
    /* background-color: mediumslateblue; */
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 50px white;
}

.left-gap{
    /* background-color: black; */
    grid-area: lg;
}

.right-gap{
    /* background-color: black; */
    grid-area: rg;
}

